$color-primary: rgba(165, 94, 234, 1);

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-label {
  font-size: 3.25rem;
  padding: 1.3rem 2.3rem;
  font-weight: 700;
  color: $color-primary;
  background-color: #f1f1f1;

  display: inline-block;
  cursor: pointer;

  box-shadow: 1.2rem 1.4rem 1.4rem 0.9 rgba(0, 0, 0, 0.877);
}

.inputfile:focus + .input-label,
.input-label:hover {
  background-color: rgb(238, 239, 240);
}

.logo-container {
  margin-left: 1.2rem;
}

.logo {
  width: 3.2rem;
  height: 3.2rem;
  fill: $color-primary;
}
